.global {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    color : #4D4D4D;
}
.font1{
    color : #5BC2C9;
}
.back1{
    background-color: #C4C4C4;
}

@media screen and (max-width: 405px) {
    .divswap {
      font-size: 12px;
    }
    .title{
        font-size : 26px;
    }
    .tokendetail{
        text-align: center;
    }
    .pietitle{
        font-size : 16px;
    }
    .fundimg{
        width : 290px
    }
}
@media screen and (max-width: 950px) {
    .defipadding{
        justify-content:center!important;
        padding: 0px!important;
    }
}
@media screen and (max-width: 900px) {
    .novapadding{
        justify-content:center!important;
        padding:0px;
    }
}
@media screen and (max-width: 970px) {
    .piepadding{
        justify-content:center!important;
        padding:0px;
    }
}
@media screen and (max-width: 1030px) {
    .fundpadding{
        justify-content:center!important;
        padding:0px;
    }
}
@media screen and (min-width: 1750px) {
    .fundimg{
        min-width : 500px
    }
}
@media screen and (min-width: 2200px) {
    .fundimg{
        width : 600px
    }
}
@media screen and (max-width: 1400px) {
    .dashboard{
        justify-content:space-around!important;
    }
}
@media screen and (max-width: 470px) {
    .dashboardpage{
        padding-left: 20px;
        padding-right: 20px;
    }
    .stat{
        height : fit-content!important;
    }
}
@media screen and (max-width: 1350px) {
    .dashboardpage{
        padding-top: 32px;
    }
}
@media screen and (max-width: 550px) {
    .dashboarddot{
        display: none;
    }
    .dashboarddotparent
    {
        justify-content: end!important;
    }
}
.toppage{
    padding-right: 128px;
}
.stat{
    width : 418px;
}
@media screen and (min-width: 1600px) {
    .dashboardpage{
        padding-left : 80px;
        padding-right : 80px;
    }
    .toppage{
        padding-right: 160px;
    }
    .stat{
        width : 450px;
    }
}
@media screen and (min-width: 1900px) {
    .dashboardpage{
        padding-left : 100px;
        padding-right : 100px;
    }
    .toppage{
        padding-right: 200px;
    }
    .stat{
        width : 550px;
    }
}
.topbutton{
    height : fit-content;
}
.topbutton.active
{
    border-radius: 21px;
    padding: 10px 20px 10px 20px;
    background-color: #FE5E5F;
    color: white;
}

@media screen and (min-width: 1600px) {
    .farmdata{
        width : 700px !important
    }
}
@media screen and (min-width: 1800px) {
    .farmdata{
        width : 800px !important
    }
}
@media screen and (min-width: 2000px) {
    .farmdata{
        width : 900px !important
    }
}
@media screen and (max-width: 1500px) {
    .farmd{
        justify-content: center!important;
    }
}
@media screen and (max-width: 700px) {
    .farmdata{
        width : auto !important;
        height : fit-content!important;
    }
}
@media screen and (max-width: 625px) {
    div>button
    {
        font-size: 16px!important;
        padding-left : 5px!important;
        padding-right : 5px!important;
    }
    .stackpage{
        font-size: 16px!important;
        padding: 0!important;
    }
    .activepage{
        margin-left: 2px!important;
    }
}